// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #2CA6FF !default;
$header-bg-color-secondary: #124EE8 !default;

// Text
$section-headings-color: #1a1a1a !default;
$body-text-color: #1a1a1a !default;
$body-link-color: #124EE8 !default;
$blockquote-text-color: #191919 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$hr-border-color: #eff0f1 !default;
